<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".VT5App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VT5.Dark">
        <!-- OpstartScherm -->
        <activity
            android:name=".hoofd.HoofdActiviteit"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- InstallatieScherm -->
        <activity
            android:name=".features.opstart.ui.InstallatieScherm"
            android:exported="false" />
        <!-- Nieuw: MetadataScherm -->
        <activity
            android:name=".features.metadata.ui.MetadataScherm"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- SoortSelectieScherm -->
        <activity
            android:name=".features.soort.ui.SoortSelectieScherm"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- TellingScherm -->
        <activity
            android:name=".features.telling.TellingScherm"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />

    </application>
</manifest>